/* Qt CSS Stylesheet, see http://doc.trolltech.com/4.5/stylesheet.html */

* {
	background-color: #d3d8ee;
}

QScrollArea [contentArea='true'] {
	background-color: #fff;
}

QLineEdit, QTextEdit {
	background: #fefefe;
	border: 1px solid #8993b2;
	border-radius: 1px #8993b2;
	min-width: 6em;
	padding: 0 px;
	selection-background-color: #c8e6c9;
	selection-color:#1e0f17;
}
 
QPushButton {
	background-color: qlineargradient(x1 : 0, y1 : 0, x2 : 0, y2 : 1, stop : 1 #c5cae6, stop :0 #fcfcfe);
	min-width: 80px;
	min-height: 20 px;
	border: 1px solid #8993b2;
	border-radius: 3px;
}

QLabel {
	color: #3b475d;
	font: bold;
}

QComboBox {
	background: #fefefe;
	border: 1px solid #8993b2;
	border-radius: 0px;
	padding: 0px 0px 0px 0px;
	height: 21px;

	selection-background-color: #c8e6c9;
	selection-color:#1e0f17;
}

QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 16px;

	border-left:1px solid #8993b2;
	border-radius: 0px; 
	padding: 0px 0px 0px 0px;
	background-image: url(icons/dvag/dvag_arrow_down.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:1 #c5cae6,  stop:0 #fcfcfe);
}

QCheckBox {
	border: 2px solid 8690b0;
	border-radius: 2px;
	min-width: 6em;
	spacing: 4px;
}

QTableView {
	background: #fefefe;
	border: 1px solid #8993b2;
	border-radius: 1px #8993b2;
	min-width: 6em;
	gridline-color: #cdd5eb;
	selection-background-color: #c8e6c9;
	selection-color:#1e0f17;
}

QHeaderView {
	border: 0px;
	color: black;
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:1 #c5cae6,  stop:0 #fcfcfe);
	height: 19px;
}

QHeaderView::section {
	background: transparent;
	border-style:transparent;
}

QTableCornerButton::section {
	border: 0px;
	background: qlineargradient(x1 : 0, y1 : 0, x2 : 0, y2 : 1, stop : 0 #a1a8c5, stop : 1 #8a93b4);
}

QScrollBar:horizontal {
	border: 0px;
	border-radius: 0px;
	background: qlineargradient(x1 : 0, y1 : 0, x2 : 0, y2 : 1, stop : 0 #a1a8c5, stop : 1 #8a93b4);
}

QScrollBar:vertical {
	border: 0px;
	border-radius: 0px;
	background: qlineargradient(x1 : 0, y1 : 0, x2 : 0, y2 : 1, stop : 0 #a1a8c5, stop : 1 #8a93b4);
}

QScrollBar::add-page,QScrollBar::sub-page {
	background: #e6e6ed;
	border: 1px solid #6f7ea3;
	border-radius: 0px;
}
